*.ko
*.o
.depend.*

chv-power/acpi_if.h
chv-power/bus_if.h
chv-power/chv-power.o
chv-power/device_if.h
chv-power/export_syms
chv-power/iicbus_if.h
chv-power/machine
chv-power/opt_acpi.h
chv-power/opt_acpi_if.h
chv-power/x86
