*.swp
*.ko
*.o
.depend.*

chv-power/acpi_if.h
chv-power/bus_if.h
chv-power/chv-power.o
chv-power/device_if.h
chv-power/export_syms
chv-power/iicbus_if.h
chv-power/machine
chv-power/opt_acpi.h
chv-power/opt_acpi_if.h
chv-power/x86

max170xx/bus_if.h
max170xx/device_if.h
max170xx/export_syms
max170xx/iicbus_if.h
max170xx/machine
max170xx/x86

fusb3/bus_if.h
fusb3/device_if.h
fusb3/export_syms
fusb3/iicbus_if.h
fusb3/machine
fusb3/x86

pi3usb/bus_if.h
pi3usb/device_if.h
pi3usb/export_syms
pi3usb/iicbus_if.h
pi3usb/machine
pi3usb/x86
