*.swp
*.ko
*.o
.depend.*

src
obj

chvpower/acpi_if.h
chvpower/bus_if.h
chvpower/chvpower.o
chvpower/device_if.h
chvpower/export_syms
chvpower/iicbus_if.h
chvpower/machine
chvpower/opt_acpi.h
chvpower/opt_acpi_if.h
chvpower/x86

max170xx/bus_if.h
max170xx/device_if.h
max170xx/export_syms
max170xx/iicbus_if.h
max170xx/machine
max170xx/x86

fusb3/bus_if.h
fusb3/device_if.h
fusb3/export_syms
fusb3/iicbus_if.h
fusb3/machine
fusb3/x86

pi3usb/bus_if.h
pi3usb/device_if.h
pi3usb/export_syms
pi3usb/iicbus_if.h
pi3usb/machine
pi3usb/x86

chvgpio/acpi_if.h  
chvgpio/bus_if.h   
chvgpio/device_if.h
chvgpio/export_syms
chvgpio/iicbus_if.h
chvgpio/machine    
chvgpio/opt_acpi.h 
chvgpio/x86        
chvgpio/gpio_if.h
chvgpio/gpiobus_if.h
chvgpio/opt_platform.h

